$white:#EBEBEB;
$white_ligth: #F8F8F8;
$white_dark: #B9B9B9;

$black: #323635;
$black_ligth: #707070;

$main: #FF82EE;
$main_dark: #CA50BB;

/*Fonts*/
$font_titulos :'Oswald', sans-serif;
$font_cuerpo :'Lato', sans-serif;
