$white: #ebebeb;
$white_ligth: #f8f8f8;
$white_dark: #cecece;

$black: #323635;
$black_ligth: #4f5b62;

$main: #ff82ee;
$main_dark: #ca50bb;

/*Fonts*/
$font_titulos: 'Oswald', sans-serif;
$font_cuerpo: 'Lato', sans-serif;
