.main-page__img{
    background-image: url(../images/main-page.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    width: 50vw;
    height: 100vh;
    position: absolute;
    right: 0;
    z-index: -1;
}

.main-page__info-container{
    box-sizing: border-box;
    height: 100vh;
    padding: 5%;
    padding-bottom: 0;
    .headline-one,.headline-five {
        margin-bottom: 1rem; 
    }
}
