@import './sass/fonts';
@import "./sass/variables";
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
	font-family: $font_cuerpo;
	color: $black;
}
body{
	background-color: $white_ligth;
	font-size: 16px;
}
@import './sass/foundations';