.AppLayout {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: min-content 1fr;
}
.AppNavbar {
  grid-column: 1/-1;
  grid-row: 1/2;
}
.LateralMenu {
  grid-column: 1/2;
  grid-row: 2/3;
}
.AppLayout__children {
  position: relative;
  grid-column: 2/-1;
  grid-row: 2/3;
  padding: 40px 80px;
}
